.idea
.idea/*.xml
.idea/inspectionProfiles
.idea/inspectionProfiles/*.xml
.idea/*.*
/*/libraries
.idea/spring-cloud-alibaba-learn.iml
.idea/libraries/*.xml
/spring-cloud-alibaba-sentinel-learn/*.iml
/*/*.iml
/*/*/target
!/spring-cloud-alibaba-nacos-learn/nacos-config-learn/target/
!/*/*/target/
!/*/*/*/target/
!/spring-cloud-alibaba-nacos-learn/nacos-config-learn/alibaba-nacos-config-learn.iml
/spring-cloud-alibaba-nacos-learn/nacos-config-learn/target/
/spring-cloud-alibaba-nacos-learn/nacos-discovery-learn/alibaba-nacos-discovery-learn.iml
/spring-cloud-alibaba-nacos-learn/nacos-config-learn/alibaba-nacos-config-learn.iml
/spring-cloud-alibaba-nacos-learn/nacos-gateway-learn/alibaba-nacos-gateway-learn.iml
!/spring-cloud-alibaba-dubbo-learn/spring-cloud-dubbo-consumer/target/
!/spring-cloud-alibaba-dubbo-learn/alibaba-nacos/spring-cloud-dubbo-consumer/target/
!/spring-cloud-alibaba-dubbo-learn/alibaba-nacos/spring-cloud-dubbo-provider/target/
/logFilePath_IS_UNDEFINED/
