.idea
.idea/*.xml
.idea/inspectionProfiles
.idea/inspectionProfiles/*.xml
.idea/*.*
/*/libraries
.idea/spring-cloud-alibaba-learn.iml
.idea/libraries/*.xml
/spring-cloud-alibaba-sentinel-learn/*.iml
/*/*.iml
/*/*/target
!/spring-cloud-alibaba-nacos-learn/nacos-config-learn/target/
!/*/*/target/
!/*/*/*/target/
!/spring-cloud-alibaba-nacos-learn/nacos-config-learn/alibaba-nacos-config-learn.iml
/spring-cloud-alibaba-nacos-learn/nacos-config-learn/target/
/spring-cloud-alibaba-nacos-learn/nacos-discovery-learn/alibaba-nacos-discovery-learn.iml
/spring-cloud-alibaba-nacos-learn/nacos-config-learn/alibaba-nacos-config-learn.iml
/spring-cloud-alibaba-nacos-learn/nacos-gateway-learn/alibaba-nacos-gateway-learn.iml
!/spring-cloud-alibaba-dubbo-learn/spring-cloud-dubbo-consumer/target/
!/spring-cloud-alibaba-dubbo-learn/alibaba-nacos/spring-cloud-dubbo-consumer/target/
!/spring-cloud-alibaba-dubbo-learn/alibaba-nacos/spring-cloud-dubbo-provider/target/
/logFilePath_IS_UNDEFINED/
!/spring-cloud-alibaba-log-learn/spring-cloud-zipkin-client-learn/target/
!/spring-cloud-alibaba-log-learn/spring-cloud-zipkin-server-learn/target/
!/spring-cloud-dev-learn/spring-cloud-eureka-client-learn/target/
!/spring-cloud-dev-learn/spring-cloud-eureka-client-learn/spring-cloud-eureka-client-learn.iml
!/spring-cloud-dev-learn/spring-cloud-eureka-server-learn/spring-cloud-eureka-server-learn.iml
/spring-cloud-dev-learn/spring-cloud-eureka-client-learn/spring-cloud-eureka-client-learn.iml
spring-cloud-alibaba-nacos-learn/nacos-discovery-learn/alibaba-nacos-discovery-learn.iml
spring-cloud-reactor-learn/spring-cloud-reactor-fir/target
spring-cloud-reactor-learn/spring-cloud-reactor-fir/spring-cloud-reactor-fir.iml
spring-cloud-alibaba-arthas/target
spring-cloud-alibaba-arthas/target
spring-cloud-alibaba-dubbo-learn/alibaba-nacos/spring-cloud-dubbo-consumer/target
spring-cloud-alibaba-dubbo-learn/alibaba-nacos/spring-cloud-dubbo-provider/target
spring-cloud-alibaba-elasticsearch/target
spring-cloud-alibaba-flowable/target
spring-cloud-alibaba-gateway/target
spring-cloud-alibaba-log-learn/spring-cloud-zipkin-client-learn/target
spring-cloud-alibaba-log-learn/spring-cloud-zipkin-server-learn/target
spring-cloud-alibaba-nacos-learn/nacos-config-learn/target
spring-cloud-alibaba-nacos-learn/nacos-discovery-learn/nacos-discovery-consumer-learn/target
spring-cloud-alibaba-nacos-learn/nacos-discovery-learn/nacos-discovery-provider-learn/target
spring-cloud-alibaba-spring/target
spring-cloud-alibaba-util/target
spring-cloud-datasource/spring-cloud-multi-datasource/target
spring-cloud-datasource/spring-cloud-mybatis-learn/target
spring-cloud-dev-learn/spring-cloud-eureka-client-feign/target
spring-cloud-dev-learn/spring-cloud-eureka-client-learn/target
spring-cloud-dev-learn/spring-cloud-eureka-server-learn/target
spring-cloud-reactor-learn/spring-cloud-reactor-fir/target
spring-cloud-skywalking-learn/spring-cloud-skywalking-consumer/target
spring-cloud-skywalking-learn/spring-cloud-skywalking-provider/target